.order-card-container {
    width: 25%;
    border-style: solid;
    border-width: 5px;
}
.order-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.order-item-category {
    color: red
}